.container-video {
    width: 853px;
    height: 484px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.placeholder-video {
    color: #ffffff10;
    width: 100%;
    text-align: center;
}
