<div class="can-auth-layout">

    <div class="can-auth-container">

        <div class="can-container-center">

            <img class="can-auth-container-image" src="../../../../favicon.ico" alt="logo">
        
        </div>
        
        <div class="can-auth-container-content">

            <h1 class="can-auth-container-title">CAN</h1>
    
            <router-outlet></router-outlet>

        </div>

    </div>

    <div class="can-auth-footer">

        <p class="can-auth-footer-text">
       
            <a href="mailto:cauenogueira@alunos.utfpr.edu.br">cauenogueira@alunos.utfpr.edu.br</a>
       
            -
       
            <a href="tel:+5511964988447">+55 (11)96498-8447</a>
       
        </p>
        
        <p class="can-auth-footer-text">© {{actualYear}} - CAN, Guarulhos - SP, Brasil</p>
        
    </div>

</div>

