<form [formGroup]="signinForm">

    <h2 class="can-auth-container-sub-title">Member Login</h2>

    <p *ngIf="authError || isAuthErrorActive" class="can-auth-error-text">Invalid fields.</p>

    <label class="can-label">
        User
        <input formControlName="userName" class="can-input" placeholder="User" />
    </label>


    <label class="can-label">
        Password
        <input formControlName="password" class="can-input" type="password" placeholder="Password" />
    </label>

    <div class="can-auth-container-row-buttons">
        <a class="can-button-link" routerLink="/recover-password">Forgot password?</a>

        <button class="can-button-black" (click)="login()">Login</button>
    </div>
</form>