<h2 class="can-auth-container-sub-title">Member Password Recover</h2>

<p *ngIf="isAuthErrorActive && emailControl.invalid" class="can-auth-error-text">Invalid email.</p>

<label class="can-label">
    Email
    <input [formControl]="emailControl" class="can-input" placeholder="Email" />
</label>


<div class="can-auth-container-row-buttons">
    <button class="can-button-white" routerLink="/signin">Back</button>

    <button class="can-button-black" (click)="doRecover()">Recover</button>
</div>